<%if(data){%>
<% data.forEach(function(month){%>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header"><%= month._id %></div>
        <div class="card-body">
          <h5 class="card-title"><%= month.totalAmount %></h5>
        </div>
        <a href=<%= `/expense/month-summary/${month._id}` %> class="btn btn-warning">See Detail</a>
      </div>
  <% })%>;
<%}%>