<div class="container-fluid">
<div class="col-sm-6">
    
     
          <%if(data){%>
              <% data.forEach(e=>{%>
            <div class="card">
              <div class="card border-primary mb-3" style="max-width: 18rem;margin:15px;">
                <div class="card-header"><%= e.tags%></div>
                <div class="card-body">
                <h5 class="card-title">Amount :<%=e.amount %></h5>
                <p class="card-text"><%=e.date%></p>
                <p class="card-text"><%=e.comment%></p>
              </div>
          </div>
          <%})%>
          <%} %>   

  </div>
</div>
