
  <div class="container-fluid">
   
      <%if(tagData){%>
        <a href=<%=`/expense/month-detail/${monthYear}/` %> class="btn btn-warning">View Detail</a>
        <div class="card-group">
            <% tagData.expense.forEach(e=>{%>
              <div class="card">
                <div class="card border-primary mb-3" style="max-width: 18rem;margin:15px;">
                    <div class="card-header"><%=e._id %></div>
                    <div class="card-body">
                      <h5 class="card-title">Total Expenditure : <%= e.totalExpenditure%></h5>
                      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                    </div>
                </div>
              </div> 
        <%})%>
        <%} %>
  </div>
  
        